<div class="container-img">
    <img src="../../../assets/images/6.png" alt="">
</div>
<h2 class="pokemon-name">CHURRIPURRI</h2>
<h3 class="trainer-age"></h3>
<h3 class="trainer-hobby"></h3>
<div class="pokemon-types">
    <div class="type"> <!-- ngclass para types basado en el pokemon-->
        <img src="../../../assets/svg/fire.svg" alt="">
        <h3>FIRE</h3>
    </div>
    <div class="type">
        <img src="../../../assets/svg/dragon.svg" alt="">
        <h3>DRAGON</h3>
    </div>
</div>
<div class="stats">
    <p>HP: 50</p>
    <p>ATTACK: 50</p>
    <p>COSO: 50</p>
</div>
<div class="abilities">
    <p>PUÑETASO</p>
    <p>PATADA</p>
    <p>INSULTO</p>
</div>
<button class="delete">X</button>
<button class="expand">></button>