main {
    /* border: 1px solid greenyellow; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-right: 7%;
    padding-bottom: 5%;
}

.main-img {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items:center;
}

.main-img img{
    margin-bottom: 0.8rem;
    width: 260px;
    /* border: 1px solid greenyellow; */
}

.pokemon-name {
    font-size: 1.8rem;
    font-family: 'Porter Sans', sans-serif;
    color: #335;
}

.pokemon-types {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 0.8rem;
}

.type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    padding-right: 1rem;
    margin: 0.5rem 0.6rem 1.5rem;
    background-color: #fffb;
}


.type img {
    width: 2.5rem;
    margin-right: 0.5rem;
    border-radius: 50px;
    padding: 5px 6px 6px 6px;
    opacity: 0.8;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 1rem;
    border-radius: 16px;
    background-color: #fff9;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.stats h4 {
    padding: 0.2rem;
    text-align: center;
    flex: 50%;
    color: #333e;
    /* border: 1px solid rebeccapurple; */
}