
<main>
    <div class="main-img">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/4.png" alt="">
        <!-- <img src="../../../assets/images/6.png" alt=""> -->
    </div>
    <h2 class="pokemon-name">CHARMANDER</h2>
    <div class="pokemon-types">
        <div class="type fire"> <!-- ngclass para types basado en el pokemon-->
            <img src="../../../assets/svg/fire.svg" alt="">
            <h3>FIRE</h3>
        </div>
        <div class="type dragon">
            <img src="../../../assets/svg/dragon.svg" alt="">
            <h3>DRAGON</h3>
        </div>
    </div>
    <div class="stats">
        <h4>HP: 50</h4>
        <h4>ATTACK: 50</h4>
        <h4>DEFENSE: 50</h4>
        <h4>SPEED: 50</h4>
        <h4>SPECIAL ATTACK: 50</h4>
        <h4>SPECIAL DEFENSE: 50</h4>
    </div>
    <!-- <div class="abilities">
        <p>PUÑETASO</p>
        <p>PATADA</p>
        <p>INSULTO</p>
    </div> -->
    <!-- <div class="flavour-text">
        <p>TEXTO SOBRE EL BICHO EN CUESTION</p>
    </div> -->
</main>