
<form>
    <input class="trainer-form-name" type="text" placeholder="Trainer Name">
    <input class="trainer-form-age" type="number" placeholder="Trainer Age" min="0" max="99">
    <input class="trainer-form-hobby" type="text" placeholder="Trainer Hobby">
    <select name="trainer-img" id="trainer-img">
        <option value="">Trainer Picture</option>
        <option value="img1">IMG1</option>
        <option value="img2">IMG2</option>
        <option value="img3">IMG3</option>
        <option value="img4">IMG4</option>
    </select>
    <button type="submit">CREATE</button>
</form>