
form {
    height: 100%;
    width: 100%;
    display: flex;
}


form input,
form select {
    background-color: #fffd;
    color: #333;
}


form input {
    font-size: 1.2rem;
    padding-left: 1rem;
}

.trainer-form-name {
    padding-left:2rem;
    width: 30%;
    border-radius: 50px 0 0 50px;
    border: 2px solid #6666;
    border-right: none;
}

.trainer-form-age {
    padding-left:2rem;
    width: 12%;
    border: 2px solid #6666;
    border-right: none;
}

.trainer-form-hobby {
    padding-left:2rem;
    width: 30%;
    border: 2px solid #6666;
    border-right: none;
}

form select {
    width: 18%;
    font-size: 1.2rem;
    padding: 0 0 0 1rem;
    border: 2px solid #6666;
    border-left: 1px solid #6666;
    border-right: none;
}

form button {
    width: 10%;
    padding-right: 0.5rem;
    border-radius: 0 50px 50px 0;
    border: 2px solid #6666;
    border-left: 1px solid #6666;
    font-size: 1.2rem;
    background-color: #eee9;
    cursor: pointer;
    transition: all 200ms;
}

form button:hover {
    background-color: #fff7;
}

form button:active {
    background-color: #fffa;
}