.teams-page-container {
    background: rgb(252,197,140);
    background: linear-gradient(180deg, rgba(252,197,140,1) 0%, rgba(255,198,111,1) 100%);
    height: 100%;
     /* border: 1px solid fuchsia; */
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
}

.teams-form {
    /* border: 1px solid fuchsia; */
    width: 80%;
    margin-top: 3rem;
    max-width: 1000px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel {
    display: flex;
    overflow:auto;
    border: 1px solid blue;
    padding: 3rem;
    display: flex;
    justify-content: center;
    overflow: auto;
    margin-bottom: 5vh;
    width: 100%;
}