.pokedex-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    height: 100%;
    background: rgb(252,197,140);
    background: linear-gradient(180deg, rgba(252,197,140,1) 0%, rgba(255,198,111,1) 100%); 
}

.radial-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 65% 45%, rgba(254,230,205,1) 0%, rgba(254,230,205,0) 47%);
    z-index: 0;
}

.pokedex-search {
    /* border: 1px solid fuchsia; */
    width: 80%;
    max-width: 1000px;
    height: 60px;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.pokedex-container {
    /* border: 1px solid blueviolet; */
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.sidebar-container {
    position: absolute;
    /* border: 1px solid green; */
    left: 0;
    bottom: 0;
    width: 25%;
    min-width: 340px;
    height: 100%;
}

.main-container {
    /* border: 1px solid greenyellow; */
    min-width: 600px;
    width: 70%;
    height: 100%;
}