<div class="card-container">
    <div class="card-main">
        <div class="trainer-img">
            <img src="../../../assets/images/tr1.png" alt="">
        </div>
        <h2 class="trainer-name">ERIC CARTMAN</h2>
    </div>
    <div class="card-info">
        <div class="trainer-data-first-line">
            <h3 class="trainer-age">65 años</h3>
            <h3 class="trainer-city">Krakovia</h3>
        </div>
        <p class="trainer-hobby">Coleccionar bigotes de gato</p>
        <ul class="team">
            <li class="team-member">
                <img src="../../../assets/images/1.png" alt="">
                <h4>BULBASAUR</h4>
            </li>
            <li class="team-member">
                <img src="../../../assets/images/4.png" alt="">
                <h4>CHARMANDER</h4>
            </li>
            <li class="team-member">
                <img src="../../../assets/images/7.png" alt="">
                <h4>SQUIRTLE</h4>
            </li>
            <li class="team-member">
                <img src="../../../assets/images/1.png" alt="">
                <h4>BULBASAUR</h4>
            </li>
            <li class="team-member">
                <img src="../../../assets/images/4.png" alt="">
                <h4>CHARMANDER</h4>
            </li>
            <li class="team-member">
                <img src="../../../assets/images/7.png" alt="">
                <h4>SQUIRTLE</h4>
            </li>
        </ul>
    </div>
    
    <button class="delete">X</button>
    <button class="expand">></button>
</div>
