.trainers-page-container {
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(252,197,140);
    background: linear-gradient(180deg, rgba(252,197,140,1) 0%, rgba(255,198,111,1) 100%);

}



.trainers-form {
    margin: 3rem auto 0;
    width: 90%;
    max-width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel {
    border: 1px solid blue;
    padding: 3rem;
    display: flex;
    justify-content: center;
    overflow: auto;
    margin-bottom: 10vh;
}

.card {
    margin: 0 1rem;    
    padding: 1rem;
    width: 220px;
    
    min-height: 320px;
    background-color: #f6f6f6;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: width 400ms;
}

.card-open {
    width: 550px;
}