<form>
    <select name="select-trainer" id="select-trainer">
        <option value="">Select Trainer</option>
        <option value="trainer1">Trainer 1</option>
        <option value="trainer2">Trainer 2</option>
        <option value="trainer3">Trainer 3</option>
    </select>
    <input type="text" placeholder="Search for a Pokemon..." >
    <select name="types" id="types">
        <option value="">Filter by type</option>
        <option value="fire">Fire</option>
        <option value="water">Water</option>
        <option value="dragon">Dragon</option>
        <option value="grass">Grass</option>
    </select>
    <button type="submit">Search</button>
</form>
